/* USI Channels App */

html, body{
    padding: 0;
   	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: RGB(245,128,37);
}

/* title bar */
#titlebar{
	background-color: RGB(245,128,37);
	top: 0;
	left: 0;
	height: 10%;
	width: 100%;
	margin-top: 4%;
	margin-bottom: 4%;
}

#titlebarbox{
	width: 100%;
	height: 100%;
	/*margin: 0px auto;*/
}

#titlebarboxlogo{
	width: 100px;
	height: 100%;
	margin-left: 5%;
	float: left;
	overflow: hidden;
}

#titlebarboxlogoimg{
	height: 100%;
}

#titlebarboxname{
	width: 55%;
	height: 80%;
	margin-left: 0px;
	float: left;
	background-color: RGB(245,128,37);
}

#titlebarboxnametext{
	font-family: arial, helvetica;
	font-weight: bold;
	margin-left: 35px;
	margin-top: 20px;
	font-size: 55px;
}

/* channels */
#channels{
	height: 600px;
	width: 193px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	left: 35px;
}

#channelswindow{
	background-color: white;
	width: 175px;
	border: solid;
	border-color: white;
}

.channelbox{
	width: 151px;
	height: 85px;
	margin-left: 5%;
	margin-top: 5%;
	background-color: #F8F8F8;
	margin-left: 10px;
	
}

.channelboxselected{
	background-color: RGB(245,128,37);
	opacity: 0.7;
}

#channelboximage{
	width: 151px;
	height: 85px;
	background-color: RGB(245,128,37);
	float: left;
}

#channelboximageimg{
	height: 100%;
	width: 100%;
}
#channelboxname{
	margin-left: 5%;
	margin-top: 5%;
	font-family: arial, helvetica;
	font-size: 26px;
	float: left;
}

/* preview */

#preview{
	clear:both;
	background-color: RGB(245,128,37);
	margin-top: 3%;
	margin-left: 2%;
	width: 80.5%;
}

#previewwindow{
	overflow-x: scroll;
	overflow-y: hidden;
	
}

.previewbox{
	width: 0px;
	height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: white;
	border: solid;
	border-color: white;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: white;
}

.imagebox{
	float: left;
	height: 100%;
	width: 180px;
	position: relative;
	
}

.item{
	height: 86px;
	width: 158px;
	margin-left: 5%;
	margin-top: 5%;
}

.hidden{
	display: none;
}

.itemactive{
	opacity: 0.7;
}

/* gallery */

#gallery{
	left: 0;
	height: 57%;
	width: 82%;
	float: left;
	background-color: RGB(245,128,37);
}

#gallerybox{
	position: relative;
	top: 0%;
	left: 2%;
	width: 99%;
	height: 99%;
}

#galleryboximg{
	width: 1068px;
	height: 600px;
}

/*progress-bar*/
.progressbarbox{
	position: relative;
	top: -25%;
	height: 15%;
	width: 100%;
	background-color: #B0B0B0;
}

.progressbarboxfill{
	background-color: RGB(245,128,37);
	height: 100%;
	width: 0%	
}


