@(appName: String, app: String, displayId: String, wsAddress: String, size: String)

@main(appName) {
    
	@if(size == "mainarea"){
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/mainarea.css")">
	}
	@if(size == "fullscreen"){
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fullscreen-in.css")">
	}
    
	<script type="text/javascript">
    
	//------------------------------------------------------------------------------
	//---- global ------------------------------------------------------------------
	var firstItem = true;
	var activMode = true;
	var previewMode = false;
	var previewItem = null;
	
	//timers
	var siChannel = null;
	
	//------------------------------------------------------------------------------
	//---- init --------------------------------------------------------------------

	$(function(){
		
		console.log("--- creating DOM objects for: @app, did: @displayId, size: @size");
		
		//create DOM objects
		var titlebar = $("<div id='titlebar' class=''></div>");
		var gallery = $("<div id='gallery' class=''></div>");
		var channels = $("<div id='channels' class=''></div>");
		var preview = $("<div id='preview' class=''></div>");
		
		//--- titlebar
		var titlebarbox = $("<div id='titlebarbox' class=''></div>");
		var titlebarboxlogo = $("<div id='titlebarboxlogo' class=''></div>");
		var titlebarboxlogoimg = $("<img id='titlebarboxlogoimg' class=''></img>");
		titlebarboxlogoimg.attr("src", "@routes.Assets.at("images/usi-logo-w.png")");
		var titlebarboxname = $("<div id='titlebarboxname' class=''></div>");
		var titlebarboxnametext = $("<div id='titlebarboxnametext' class=''></div>");
		titlebarboxnametext.html("@app");
		
		titlebar.mousedown(function(){//--- disable draging
			return false;
		});
		
		titlebarboxname.append(titlebarboxnametext);
		titlebarboxlogo.append(titlebarboxlogoimg);
		titlebarbox.append(titlebarboxlogo);
		titlebarbox.append(titlebarboxname);
		titlebar.append(titlebarbox);
		
		//--- gallery
		var gallerybox = $("<div id='gallerybox' class=''></div>");
		var galleryboximg = $("<img id='galleryboximg' class='' ></img>");
		
		gallery.mousedown(function(){//--- disable draging
			return false;
		});
		
		gallerybox.append(galleryboximg);
		gallery.append(gallerybox);
		
		//-- channles
		//--- channels are added using addChannel(channel, nitems)
		var channelswindow = $("<div id='channelswindow' class=''></div>");
		
		//channels.mousedown(function(){//--- disable draging
		//	return false;
		//});
		
		//---- mouse drag -> scroll event ----------------
		channelswindow.mousedown(function(e){
			//console.log(" channelswindow mousedown event");
		
			var initY = window.event.pageY;
			//console.log("   initY:"+initY);
			
			this.onmousemove=function(){
				
				var currentY = window.event.pageY;
				var moveY = currentY - initY;
				initY = currentY;
			
				var currentS = $("#channels").scrollTop();
				$("#channels").scrollTop(currentS-moveY);
				
			};//onmousemove
			
			return false;
		});//onmousedown
		
		channelswindow.mouseup(function(e){
			this.onmousemove = null;
	 	});//mouseup
		
	 	channelswindow.mouseout(function(e){
			//this.onmousemove = null;
		});//mouseout
		
		channels.append(channelswindow);
		
		//--- preview
		//--- preview is added for each channel in addChannel(channel, nitems)
		var previewwindow = $("<div id='previewwindow' class=''></div>");
		
		//preview.mousedown(function(){//--- disable draging
		//	return false;
		//});
		
		//---- mouse drag -> scroll event ----------------
		previewwindow.mousedown(function(e){
			//console.log(" previewwindow mousedown event");
		
			var initX = window.event.pageX;
			//console.log("   initX:"+initX);
			
			this.onmousemove=function(){
				
				var currentX = window.event.pageX;
				var moveX = currentX - initX;
				initX = currentX
				
				var currentS = $("#previewwindow").scrollLeft();
				$("#previewwindow").scrollLeft(currentS-moveX);
				
			};//onmousemove
			
			return false;
		});//onmousedown
		
		previewwindow.mouseup(function(e){
			this.onmousemove = null;
	 	});//mouseup
		
		previewwindow.mouseout(function(e){
			//this.onmousemove = null;
		});//mouseout
		
		preview.append(previewwindow);
		
		//--- main elements
		$('body').append(titlebar);
		$('body').append(gallery);
		$('body').append(channels);
		$('body').append(preview);
	});
	
	//------------------------------------------------------------------------------
	//--- animations-------------------------------------------------------------
	
	//mode change
	var siMode = setInterval(function() {
		if(!activMode){
			if(!previewMode){
				//console.log("inactivity going to preview mode...");

				//start preview of the active channel
				startPreview($("#channelswindow").children(".channelboxselected").data("name"));
				
			}//if(!previewMode)
		}//if(!activMode)
		activMode = false;
    }, 60000);
	
	function activity(){
		console.log("activity");
		activMode = true;
		
		if(previewMode){
			stopPreview();
		}//if
	}//activity()
	
	function startPreview(channel){
		console.log("preview on: "+channel);
		previewMode = true;
		
		//var item = $("#p-"+channel).children(".imagebox").first();
		//startItemPreview(item);
		
		var len = $("#p-"+channel).children(".imagebox").length;
		//console.log("len: "+len);
		
		var count = 0;
		siChannel = setInterval(function() {
			var item = $("#p-"+channel).children(".imagebox").eq(count);
			startItemPreview(item);
			
			//$("#previewwindow").scrollLeft(count*250);
			$("#previewwindow").animate({scrollLeft: count*230}, 600);
			
			count ++;
			//console.log("count: "+count);
			if(count == len)
				count = 0;
		}, 30000);
		
	}//startPreview()
	
	function stopPreview(){
		//console.log("preview off");
		clearInterval(siChannel);
		previewMode = false;
		activMode = true;
		
		//$(".itemactive .progressbarbox").remove();
		//$(".itemactive").removeClass("itemactive");
		
	}//stopPreview()
	
	function startItemPreview(imagebox){
		previewItem = imagebox;
		
		$("#galleryboximg").fadeOut(2000, function() {

		    $(this).attr("src",previewItem.data("img")).fadeIn(2000);

		});
		
		//$(".itemactive .progressbarbox").remove();
		$(".itemactive").removeClass("itemactive");
		imagebox.addClass("itemactive");
		
		//addProgressBar(imagebox);
		
	}//startItemPreview()
	
	function addProgressBar(imagebox){
		//progress bar
		var probressbarbox = $("<div id='' class='progressbarbox'></div>");
		var progressbarboxfill = $("<div id='' class='progressbarboxfill'></div>");
		progressbarboxfill.data("value", 0);
		probressbarbox.append(progressbarboxfill);
		imagebox.append(probressbarbox);
		
		//progressbarboxfill.width("100%");
		progressbarboxfill.animate({
			 width: "100%",
			 }, 29900 );
		
	}//addProgressBar

	
	//------------------------------------------------------------------------------
	//---- add channels and items --------------------------------------------------
	
	//---- add new channel
	function addChannel(channel, nitems, cover){
		
		channeltrim = channel.replace(/ /g,'');
		
		var channelbox = $("<div id='c-"+channeltrim+"' class='channelbox'></div>");
		channelbox.data("name", channeltrim);
		var channelboximage = $("<div id='channelboximage' class=''></div>");
		var channelboximageimg = $("<img id='channelboximageimg' classs=''></img>");
		if(cover != "na"){
			//var imgsrc = "data:image/png;base64,"+cover;
			var imgsrc = cover;
			channelboximageimg.attr("src", imgsrc);
			channelboximage.append(channelboximageimg);
		}
		var channelboxname = $("<div id='channelboxname' class=''></div>");
		channelboxname.html(channel);
		
		channelbox.append(channelboximage);
		//channelbox.append(channelboxname);
		
		
		//for each channel add preview
		var previewbox = $("<div id='p-"+channeltrim+"' class='previewbox hidden'></div>");
		 
		//add mouse click events
		channelbox.click(function(){
			
			//mark the selected channel		
			$(".channelbox").removeClass("channelboxselected");
			channelbox.addClass("channelboxselected");
			
			//change the preview box
			$(".previewbox").addClass("hidden");
			previewbox.removeClass("hidden");
			//scroll the preview box to the begining
			$("#previewwindow").scrollLeft(0);
			
			//change the gallery image
			var img = previewbox.find(".item").first().data('img');
			$("#galleryboximg").attr("src", img);
			
			$(".itemactive").removeClass("itemactive");
			previewbox.find(".item").first().addClass("itemactive");
			
			//reset activity
			activity();
			
		});
		
		channelbox.mouseup(function(){
			//mark the selected channel		
			$(".channelbox").removeClass("channelboxselected");
			channelbox.addClass("channelboxselected");
			
			//change the preview box
			$(".previewbox").addClass("hidden");
			previewbox.removeClass("hidden");
			//scroll the preview box to the begining
			$("#previewwindow").scrollLeft(0);
			
			//change the gallery image
			var img = previewbox.find(".item").first().data('img');
			$("#galleryboximg").attr("src", img);
			
			$(".itemactive").removeClass("itemactive");
			previewbox.find(".item").first().addClass("itemactive");
			
			//reset activity
			activity();
		});
		
		$("#channelswindow").append(channelbox);
		$("#previewwindow").append(previewbox);
		
	}//addChannel
	
	//--- add new item
	function addItem(name, channel, item){
		
		nametrim = name.replace(/ /g,'');
		channeltrim = channel.replace(/ /g,'');
		
		var imagebox = $("<div id='"+nametrim+"' class='imagebox'></div>");
	
		var container = $("<img id='' class='item' ></img>");
		container.attr("src", item.replace(".png", "-button.png"));
		container.data("img", item);
		imagebox.append(container);
		imagebox.data("img", item);
		
		//add mouse click event
		imagebox.click(function(){
			//console.log("item click");
			//add image to the gallery
			$("#galleryboximg").attr("src", item);
			//startItemPreview(imagebox);
			
			$(".itemactive").removeClass("itemactive");
			$(this).addClass("itemactive");
			
			//reset activity
			activity();
		});
		
		var previewbox = $("#p-"+channeltrim);
		var imageboxsize = $(".imagebox").width();
		if(imageboxsize == null) imageboxsize = 180;
		var resize = previewbox.width()+imageboxsize;
		previewbox.width(resize);
		previewbox.append(imagebox);
		//console.log("channel: "+ channeltrim+" name: "+nametrim+" width: "+resize);
		
		if(firstItem){
			selectFirstItemInChannel(channeltrim);
			firstItem = false;
		}//if(firstItem)
	}//addItem
	
	function selectFirstItemInChannel(channel){
		//mark the selected channel		
		$(".channelbox").removeClass("channelboxselected");
		var channelbox = $("#c-"+channel);
		channelbox.addClass("channelboxselected");
		
		//change the preview box
		$(".previewbox").addClass("hidden");
		var previewbox = $("#p-"+channel);
		previewbox.removeClass("hidden");
		
		//change the gallery image
		var img = previewbox.find(".item").first().data('img');
		$("#galleryboximg").attr("src", img);
		
		$(".itemactive").removeClass("itemactive");
		previewbox.find(".item").first().addClass("itemactive");
		
	}//function selectFirstItemInChannel()
	
	//------------------------------------------------------------------------------
	//---- WS ----------------------------------------------------------------------

	var WS = WebSocket;
	var wsUri = "@wsAddress";
 	websocket = new WS(wsUri);

	//ONOPEN - send initial/connection message
	websocket.onopen = function(evt) { 
		console.log("ws: displayReady"); 
		var hi = JSON.stringify
		({
			"kind":"displayReady",
			"displayID": @displayId,
			"app": "@app",
		});
		websocket.send(hi);
		//init();
		
	}; //websocket.onopen

	//ONCLOSE - send goodbye message
	websocket.onclose = function(evt) { 
		console.log("ws: displayRemove");
		var bye = JSON.stringify
		({
			"kind":"displayRemove",
			"displayID": @displayId
		});
		websocket.send(bye);
	}; //websocket.onclose

	//ONMESSAGE - when a message is received
	websocket.onmessage = function(evt) {
		var response = jQuery.parseJSON(evt.data);
		if(response.kind == "displayConnected"){
			console.log("usichannels display id:"+response.did+" connected");
			//displayConnected(response.did);
		}//if
		
		if(response.kind == "displayDisconnected"){
			console.log("display id:"+response.did+" disconnected");
			//displayDisconnected(response.did);
		}//if
		
		if(response.kind == "addChannel"){
			//console.log("add channel:"+response.did+" :"+response.channel+" :"+response.nitems);
			addChannel(response.channel, response.nitems, response.cover);
		}//if
		
		if(response.kind == "addItem"){
			//console.log("            :add item :"+response.did+" :"+response.channel+" :"+response.itemName);
			addItem(response.itemName, response.channel, response.item);
		}//if
			
	}; //websocket.onmessage
	
	//ONERROR - if there is an error message
	websocket.onerror = function(evt) { 
		console.log(evt.data); 
	}; //websocket.onerror

	//SEND - send messages to the server
	//send planner initial/connection message
	function sendRefreshMessage(did){ 
		console.log("Send Refresh Message did:"+did); 
		var msg = JSON.stringify({
			"kind":"displayRefresh",
			"did":did
		});
		websocket.send(msg);
	}; //sendRefreshMessage
	
	//WS ----------------------------------------------------------------------
    
	
	</script>
}
