@(appName: String, app: String, displayId: String, wsAddress: String, size: String)

@main(appName) {
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cover.css")">
    
	<script type="text/javascript">
    
	//------------------------------------------------------------------------------
	//---- global ------------------------------------------------------------------
	var g_table_row = 1;
	var g_table_col = 2;
	
	//------------------------------------------------------------------------------
	//---- init --------------------------------------------------------------------

	$(function(){
		
		var coverbox = $("<div id='coverbox' class=''></div>");
		var constable = $("<table id='covertable' class='table'>");
		
		coverbox.append(constable);	
		$('body').append(coverbox);
		
	});
	
	//------------------------------------------------------------------------------
	//--- cover apps-------------------------------------------------------------

	//add app
	function addCoverApp(did, appName, appIcon){
		
		addCoverAppTableEntry(appName, appIcon);
	}//addCoverApp
	
	//table entry - app
	function addCoverAppTableEntry(appName, appIcon){
		
		if(g_table_col == 2){
			//add a new row in the table and add the app in the first colum
			var row = $("<tr id='tr'></tr>");
			var td1 = $("<td></td>");
			var td2 = $("<td></td>");
			
			createAppBox(td1, appName, appIcon);
			
			row.append(td1);
			row.append(td2)
			$('#covertable').append(row);
			g_table_col = 1;
		}else{
			//add the app in the existing row in the second colum
			
			createAppBox($("#covertable td:last"), appName, appIcon);
			g_table_col = 2;
		}
		
	}//addCoverAppTableEntry
	
	function createAppBox(container, appName, appIcon){
		
		var appbox = $("<div id='"+appName.replace(/ /g,'')+"' class='appbox'></div>");
			appbox.data("name", appName);
		var appboxName = $("<div id='' class='appboxname'>"+appName+"</div>");
		var appboxIcon = $("<img id='' class='appboxicon'></img>");
			appboxIcon.attr("src", appIcon);
		
		appbox.click(function(){
			schedulerRequestApp($(this).data("name"), "immediate");
		});//appbox.click
			
		appbox.append(appboxIcon);
		appbox.append(appboxName);
		container.append(appbox);
		
		schedulerRequestInfo(appName.replace(/ /g,''));
	}//createAppBox
	
	//------------------------------------------------------------------------------
	//---- WS ----------------------------------------------------------------------

	var WS = WebSocket;
	var wsUri = "@wsAddress";
 	websocket = new WS(wsUri);

	//ONOPEN - send initial/connection message
	websocket.onopen = function(evt) { 
		console.log("ws: coverReady"); 
		var hi = JSON.stringify
		({
			"kind":"coverReady",
			"displayID": @displayId,
		});
		websocket.send(hi);
		//init();
		
	}; //websocket.onopen

	//ONMESSAGE - when a message is received
	websocket.onmessage = function(evt) {
		var response = jQuery.parseJSON(evt.data);
		
		if(response.kind == "displayConnected"){
			console.log("usiCover display id:"+response.did+" connected");
			//displayConnected(response.did);
		}//if
		
		if(response.kind == "addCoverApp"){
			console.log("addCoverApp display id:"+response.did+" add app: "+response.appName);
			addCoverApp(response.did, response.appName, response.appIcon);
		}//if
			
	}; //websocket.onmessage
	
	//ONERROR - if there is an error message
	websocket.onerror = function(evt) { 
		console.log(evt.data); 
	}; //websocket.onerror

	//SEND - send messages to the server
	//send planner initial/connection message
	function sendRefreshMessage(did){ 
		console.log("Send Refresh Message did:"+did); 
		var msg = JSON.stringify({
			"kind":"displayRefresh",
			"did":did
		});
		websocket.send(msg);
	}; //sendRefreshMessage
	
	//WS ----------------------------------------------------------------------
    
	//------------------------------------------------------------------------
	//---- Scheduler calls ----------------------------------------------------
	
	/**
	 * Scheduler: send a requst to schedule an app
	 * param {string} appName - the name of applicaiton to schedule
	 * param {string} time - time parameter {immediate}; in development {"hh:mm:ss", interval, repetition}
	 * exampe: schedulerRequestApp($(this).data("name"), "immediate");
	 */
	function schedulerRequestApp(appName, time){
		var msg = JSON.stringify({
			"request":"app",
			"name": appName,
			"time":time
		});
		
		schedulerSend(msg);
	}//schedulerRequestApp
	
	/**
	 * Scheduler: get an application scheduling information
	 * param {string} appName - the name of applicaiton to schedule
	 */
	function schedulerRequestInfo(appName){
		 var msg = JSON.stringify({
				"request":"info",
				"name":appName
			});
		
		schedulerSend(msg);
	}//schedulerRequestInfo
	
	/**
	 * Scheduler: send a message to scheduler
	 * param {json} schedulingMessage - contains scheduling request information
	 */
	function schedulerSend(schedulingMessage){
		var schedulingDomain = "http://uc-dev.inf.usi.ch:9009";
		parent.postMessage(schedulingMessage, schedulingDomain);
	}//schedulerSend
	
	/**
	 * Scheduler: receive a message from scheduler
	 * param {event} event - contains scheduling information
	 *				  event.data.response {app, info}
	 */
	function schedulerReceiveMessage(event){
		//console.log("cover received sch msg: " + event.data +", "+event.origin);
		var data = jQuery.parseJSON(event.data);	
		
		if(data.response == "app"){ //response for the app request (yes, no, yes-but)
			console.log("cover received sch respone app: " + data.name + " decision: "+ data.decision);
		}//app
		
		if(data.response == "info"){
			console.log("cover received sch response info for app: " + data.name + " decision: " + data.decision);
			if(data.decision == "no"){
				$("#" + data.name).css("opacity",0.1);
			}//if
		}//info
		  
	}//receiveMessage
		
	if (window.addEventListener){
		addEventListener("message", schedulerReceiveMessage, false);
	} else {
		attachEvent("onmessage", schedulerReceiveMessage);
	}//addEventListener

	//------------------------------------------------------------------------
	</script>
}
