@(appName: String, app: String, displayId: String, wsAddress: String, size: String, schedulingDomain: String)

@main(appName) {
    
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cover.css")">
    
	<script type="text/javascript">
    
	//------------------------------------------------------------------------------
	//---- global ------------------------------------------------------------------
	var g_table_row = 1;
	var g_table_col = 2;
	
	//------------------------------------------------------------------------------
	//---- init --------------------------------------------------------------------

	$(function(){
		
		var coverbox = $("<div id='coverbox' class=''></div>");
		
		//--- titlebar
		var titlebar = $("<div id='titlebar' class=''></div>");
		var titlebarbox = $("<div id='titlebarbox' class=''></div>");
		var titlebarboxlogo = $("<div id='titlebarboxlogo' class=''></div>");
		var titlebarboxlogoimg = $("<img id='titlebarboxlogoimg' class=''></img>");
		titlebarboxlogoimg.attr("src", "@routes.Assets.at("images/usi-logo-w.png")");
		var titlebarboxname = $("<div id='titlebarboxname' class=''></div>");
		var titlebarboxnametext = $("<div id='titlebarboxnametext' class=''></div>");
		titlebarboxnametext.html("@app");
		
		titlebar.mousedown(function(){//--- disable draging
			return false;
		});
		
		titlebarboxname.append(titlebarboxnametext);
		titlebarboxlogo.append(titlebarboxlogoimg);
		titlebarbox.append(titlebarboxlogo);
		titlebarbox.append(titlebarboxname);
		titlebar.append(titlebarbox);

		var covertable = $("<table id='covertable' class='table'>");
		
		coverbox.append(titlebar);	
		coverbox.append(covertable);	
		$('body').append(coverbox);
		
	});
	
	//------------------------------------------------------------------------------
	//--- cover apps-------------------------------------------------------------

	//add app
	function addCoverApp(did, appName, appIcon){
		
		addCoverAppTableEntry(appName, appIcon);
	}//addCoverApp
	
	//table entry - app
	function addCoverAppTableEntry(appName, appIcon){
		
		if(g_table_col == 2){
			//add a new row in the table and add the app in the first colum
			var row = $("<tr id='tr'></tr>");
			var td1 = $("<td></td>");
			var td2 = $("<td></td>");
			
			createAppBox(td1, appName, appIcon);
			
			row.append(td1);
			row.append(td2)
			$('#covertable').append(row);
			g_table_col = 1;
		}else{
			//add the app in the existing row in the second colum
			
			createAppBox($("#covertable td:last"), appName, appIcon);
			g_table_col = 2;
		}
		
	}//addCoverAppTableEntry
	
	function createAppBox(container, appName, appIcon){
		
		var appbox = $("<div id='"+appName.replace(/ /g,'')+"' class='appbox'></div>");
			appbox.data("name", appName);
		var appboxName = $("<div id='' class='appboxname'>"+appName+"</div>");
		var appboxNameInfo = $("<div id='' class='appboxnameinfo'></div>");
		var appboxIcon = $("<img id='' class='appboxicon'></img>");
			appboxIcon.attr("src", appIcon);
		
		appboxIcon.mousedown(function(){//--- disable draging
			return false;
		});
			
		//appbox.click(function(){
		//	sendActivityMessage("cover-app-click-request", $(this).data("name"));
		//	schedulerRequestApp($(this).data("name"), "immediate");
		//});//appbox.click
		
		appbox.mouseup(function(){
			sendActivityMessage("cover-app-click-request", $(this).data("name"));
			schedulerRequestApp($(this).data("name"), "immediate");
			schedulerSendInteractivity();
		});//appbox.mouseup
			
		appbox.append(appboxIcon);
		appbox.append(appboxName);
		appbox.append(appboxNameInfo);
		container.append(appbox);
		
		schedulerRequestInfo(appName.replace(/ /g,''));
	}//createAppBox
	
	//------------------------------------------------------------------------------
	//---- WS ----------------------------------------------------------------------

	var WS = WebSocket;
	var wsUri = "@wsAddress";
 	websocket = new WS(wsUri);

	//ONOPEN - send initial/connection message
	websocket.onopen = function(evt) { 
		console.log("ws: coverReady"); 
		var hi = JSON.stringify
		({
			"kind": "coverReady",
			"size": "@size",
			"displayID": "@displayId",
			"app":"cover",
		});
		websocket.send(hi);
		//init();
		
	}; //websocket.onopen

	//ONMESSAGE - when a message is received
	websocket.onmessage = function(evt) {
		var response = jQuery.parseJSON(evt.data);
		
		if(response.kind == "displayConnected"){
			console.log("usiCover display id:"+response.did+" connected");
			//displayConnected(response.did);
		}//if
		
		if(response.kind == "addCoverApp"){
			console.log("addCoverApp display id:"+response.did+" add app: "+response.appName);
			addCoverApp(response.did, response.appName, response.appIcon);
		}//if
		
		if(response.kind == "refresh"){
			console.log("display refresh message: cover");
			window.location.reload();
		}//if
			
	}; //websocket.onmessage
	
	//ONERROR - if there is an error message
	websocket.onerror = function(evt) { 
		console.log(evt.data); 
	}; //websocket.onerror
	
	//SEND - send messages to the server
	
	//send activity message to the server
	function sendActivityMessage(event, data){ 
		console.log("Send Interactivity Message did: "+@displayId+ " event: "+event+" data: "+data); 
		
		var msg = JSON.stringify({
			"kind" : "activity",
			"app" : "@app",
			"size" : "@size",
			"event" : event,
			"data" : data,
			"did" : "@displayId"
		});
		
		websocket.send(msg);
	}; //sendActivityMessage
	
	
	//WS ----------------------------------------------------------------------
    
	//------------------------------------------------------------------------
	//---- Scheduler calls ----------------------------------------------------
	
	/**
	 * Scheduler: send an interactivity message
	 */
	function schedulerSendInteractivity(){
		sendActivityMessage("@app"+"-interactivity", "interactivity");
		var msg = JSON.stringify({
			"request":"interactivity",
		});
		
		schedulerSend(msg);
	}//schedulerSendInteractivity
	
	/**
	 * Scheduler: send a requst to schedule an app
	 * param {string} appName - the name of applicaiton to schedule
	 * param {string} time - time parameter {immediate}; in development {"hh:mm:ss", interval, repetition}
	 * exampe: schedulerRequestApp($(this).data("name"), "immediate");
	 */
	function schedulerRequestApp(appName, time){
		sendActivityMessage("cover-request-app", appName);
		var msg = JSON.stringify({
			"request":"app",
			"name": appName,
			"time":time
		});
		
		schedulerSend(msg);
	}//schedulerRequestApp
	
	/**
	 * Scheduler: get an application scheduling information
	 * param {string} appName - the name of applicaiton to schedule
	 */
	function schedulerRequestInfo(appName){
		 sendActivityMessage("cover-request-info", appName);
		 var msg = JSON.stringify({
				"request":"info",
				"name":appName
			});
		
		schedulerSend(msg);
	}//schedulerRequestInfo
	
	/**
	 * Scheduler: send a message to scheduler
	 * param {json} schedulingMessage - contains scheduling request information
	 */
	function schedulerSend(schedulingMessage){
		parent.postMessage(schedulingMessage, "@schedulingDomain");
	}//schedulerSend
	
	/**
	 * Scheduler: receive a message from scheduler
	 * param {event} event - contains scheduling information
	 *				  event.data.response {app, info}
	 */
	function schedulerReceiveMessage(event){
		//console.log("cover received sch msg: " + event.data +", "+event.origin);
		var data = jQuery.parseJSON(event.data);	
		
		if(data.response == "app"){ //response for the app request (yes, no, yes-but)
			sendActivityMessage("cover-response-app-"+data.name, data.decision);
			console.log("cover received sch respone app: " + data.name + " decision: "+ data.decision);
		}//app
		
		if(data.response == "info"){
			sendActivityMessage("cover-response-info-"+data.name, data.decision);
			console.log("cover received sch response info for app: " + data.name + " decision: " + data.decision);
			if(data.decision == "no"){
				$("#" + data.name).css("opacity",0.1);
				$("#" + data.name+" .appboxnameinfo").text("(coming soon...)");
			}//if
		}//info
		
		if (data.response == "coordinates") {
            var el = document.elementFromPoint(data.pageX, data.pageY);
            var x = data.pageX;
            var y = data.pageY;
            //console.log("Clicked on, X: " + x + " Y: " + y)
            $(el).trigger("click", [x, y]);
        }
		
	}//receiveMessage
		
	if (window.addEventListener){
		addEventListener("message", schedulerReceiveMessage, false);
	} else {
		attachEvent("onmessage", schedulerReceiveMessage);
	}//addEventListener

	//------------------------------------------------------------------------
	</script>
}
